[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.5"
gunicorn = "*"
django-crispy-forms = "*"
psycopg2-binary = "*"
boto3 = "*"
django-storages = "*"
django-environ = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
